<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyImgur</title>
</head>
<body>
    <div>
        <a href="/">MyImgur</a>
        <a href="{% url 'images:list' %}">All images</a>
        <a href="{% url 'images:new' %}">Submit new image</a>
    </div>
    <div>   
        {% if request.user.is_authenticated%}
            Prijavljen: {{request.user.username}}
            <a href='{% url 'logout' %}'>Odjava</a>
        {% else %}
            <a href={% url 'login' %}>Prijava</a>
         {% endif %}   
    </div>
    <div>
        {% if request.user.is_superuser %}
        <a href= "/admin">Admin</a>
        {% endif %}   

    </div>

    <h1>Welcome to MyImgur</h1>
    {% block content %}
    {% endblock content %}

</body>
</html>