{% extends 'images/base.html' %}

{% block content %}
<h1>{{ image.title }}</h1>
<form action="{% url 'images:toggle_like' image.id %}" method="post">
    {% if liked %}
    <input type="submit" value="Unlike ({{ image.like_set.count }})">
    {% else %}
    <input type="submit" value="Like ({{ image.like_set.count }})">
    {% endif %}
    {% csrf_token %}
</form>
<p>Liked by:
    {% for like in image.like_set.all %}
        {{ like.user.username }},
    {% endfor %}
</p>
<p>Objavio: {{ image.user.username }} dana {{ image.pub_date }}</p>
<img src="{{ image.url }}" style="width: 600px;">

<h1>Komentari</h1>
<div>
    {% if request.user.is_authenticated %}
    <form action="{% url 'images:new_comment' image.id %}" method="post">
        <input type="text" name="text" id="">
        <input type="submit" value="Komentiraj">
        {% csrf_token %}

    </form>
    {% else %}
    <p>Za komentiranje moraš biti prijavljen.
        <a href="{% url 'login' %}">Prijavi se</a>
    </p>
    {% endif %}
</div>
{% for comment in comments %}
<p> 
    <strong>{{comment.name}}:</strong>
    {{comment.text}} <br>
    <small>{{comment.created_at}}</small>
</p>
{% empty %}
<p> Nitko nije komentrao, budi prvi!!!! </p>

{%endfor%}

{% endblock content %}